<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>MingDFS分布式文件系统</title>
    <link rel="shortcut icon" href={{ url_for("static", filename="favicon.ico") }}>
    <link href={{url_for("static", filename="pc/css/home.css")}} rel="stylesheet"/>
    <script src={{url_for("static", filename="jquery-3.4.1.min.js")}}></script>
</head>
<body>
    <div class="header">
        <span class="title">欢迎
            <user>
            {% if user_name %}
                {{user_name}}
            {% else %}
                您
            {% endif %}
            </user>使用MingDFS分布式文件系统。</span> <a href="#" class="logout">退出</a>
    </div>
    <div class="content">
        <div class="infor">
            <div class="left">
                <span class="now">正在获取当前时间</span>
            </div>
            <div class="right">
                <div>
                    总页数:<span class="total_pages">正在获取</span>
                    当前页:<input type="number" class="page" value="1" min="1">
                    <button class="go">跳转</button>
                </div>
                <div>
                    <span class="all_file_size"></span>
                    <button class="upload_file">上传文件</button>
                </div>
            </div>
        </div>

        <div class="files">
            <table>
                <tr>
                    <th>标题</th>
                    <th>文件名</th>
                    <th>大小(字节)</th>
                    <th>创建时间</th>
                    <th>最后一次修改时间</th>
                    <th>最后一次访问时间</th>
                </tr>
            </table>
        </div>
    </div>

    <audio controls="controls">
        <source src={{url_for('static', filename="群星 - 时光.mp3")}}/>
    </audio>

    <div class="popu_menu">
        <hidden class="clicked_dom" value=""></hidden>
        <div class="layout">
            <a class="look" href="#">查看</a><br>
            <a class="edit" href="#">编辑</a><br>
            <a class="download" href="#">下载</a><br>
            <a class="delete" href="#">删除</a><br>
            <a class="cancel" href="#">取消</a>
        </div>
    </div>

    <div class="upload_panel">
        <div class="layout">
            <div>上传文件对话框</div>
            <input type="text" name="file_name" placeholder="请输入上传文件名">
            <input type="file" name="upload_file_name">
            <button class="submit_upload">提交</button>
            <button class="submit_cancel">取消</button>
        </div>
    </div>

    <div id="upload_progressbar">
        <div class="layout">
            <meter max="100" value="0" min="0" low="30" high="60"></meter>
        </div>
    </div>

    <div class="look_panel">
        <div class="layout">
            <div class="lp_header">
                <span class="lp_title"></span>
            </div>
            <iframe onload="this.height = this.contentWindow.document.body.scrollHeight" class="lp_content" scrolling="yes" frameborder="1"></iframe>
        </div>
    </div>

    <div class="edit_panel">
        <div class="layout">
            <div class="ep_title">
                编辑文件对话框
            </div>

            <div class="ep_edit">
                <input type="text" placeholder="请输入新的第三方用户id">
                <input type="text" placeholder="请输入新的标题">
                <input type="text" placeholder="请输入新的第三方分类id">
                <input type="text" placeholder="请输入新的文件扩展名">
                <input type="file" id="ep_upload_file_name" name="upload_file_name">
                <button class="ep_submit">提交</button>
                <button class="ep_cancel">取消</button>
            </div>
        </div>
    </div>

    <hidden class="api_key">
        {% if api_key %}
            {{ api_key }}
        {% endif %}
    </hidden>
    <hidden class="current_page">1</hidden>

    <hidden class="yj_category_id"></hidden>
    <hidden class="yj_title"></hidden>
    <hidden class="yj_file_extension"></hidden>
    <hidden class="yj_third_user_id"></hidden>
    <hidden class="lp_win_ts">translate(-50%, -50%)</hidden>
    <script src={{url_for("static", filename="pc/js/home.js")}}></script>
</body>
</html>