<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="shortcut icon" href={{ url_for("static", filename="favicon.ico") }}>
    <link href={{url_for("static", filename="pc/css/login.css")}} rel="stylesheet"/>
    <script src={{url_for("static", filename="jquery-3.4.1.min.js")}}></script>
</head>
<body>
    <div class="header">
        欢迎<user>您</user>使用MingDFS分布式文件系统。<bz>SYX</bz>
    </div>
    <div class="login">
        <div class="title">登录</div>
        <input type="text" name="user_name" placeholder="请输入用户名"><br>
        <input type="password" name="passwd" placeholder="请输入密码"><br>

        <div class="bts">
            <button class="submit">登录</button>
            <button class="register">注册</button>
            <button class="change_passwd">改密</button>
        </div>
    </div>
    <script src={{url_for("static", filename="pc/js/login.js")}}></script>
</body>
</html>