* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.header {
    height: 43px;
    background-color: blue;
    font-size: 30px;
    width: 1080px;
    white-space: nowrap;
    margin: 0 auto;
    border: solid 1px blue;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.login {
    float: right;
    color: red;
    text-decoration: none;
    background-color: white;
    border: solid 1px red;
}

.content {
    width: 1080px;
    margin: 0 auto;
    color: white;
}

img {
    width: 1080px;
}

.footer {
    width: 1080px;
    color: white;
    text-align: center;
    font: 12px/1.5 Arial;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}