* {
    padding: 0;
    margin: 0;
}

.register {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-color: blue;
    background-color: white;
    width: 300px;
}

input {
    width: 285px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

input[name="check_code"] {
    width: 132px;
    margin-right: 5px;
}

.send_check_code {
    color: blue;
    font-size: 18px;
}

.submit {
    margin-left: 50%;
    width: 132px;
    transform: translate(-50%);
    margin-bottom: 5px;
    font-size: 20px;
}

body {
    background-color: black;
}


.title {
    background-color: blue;
    color: red;
    font-size: 25px;
    width: 100%;
}

.header {
    width: 1080px;
    font-size: 30px;
    background-color: blue;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

user {
    color: pink;
}

bz {
    color: black;
    background-color: peachpuff;
    float: right;
}

.footer {
    width: 1080px;
    color: white;
    text-align: center;
    font: 12px/1.5 Arial;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}